@font-face {
	font-family: "Volkhov";
	src: url("Volkhov-Regular.woff2");
}
body {
  background-image: url('bg.jpg');
  background-color: #000000;
  color: #ffffff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 22px;
  font-family: Volkhov;
  line-height: 1.35;
  margin-right: 25;
  margin-left: 25;
  text-shadow: 0px 0px 50px #ffffffff;
  animation: suno 10s infinite;
}
@keyframes suno {
  0%,100% {
    color: #ffffff;
    text-shadow: 0px 0px 20px #ffffffcc;
  }
  50% {
    color: #fafaf2;
    text-shadow: 0px 0px 200px #fafaf2ff;
  }
}
@keyframes suno-kule {
  0%,100% {
    box-shadow: 0px 0px 20px 0px var(--glow-color-light);
  }
  50% {
    box-shadow: 0px 0px 50px 0px var(--glow-color-dim);
  }
}
@keyframes suno-link {
  0%,100% {
    text-shadow: 0px 0px 20px #0000ffcc;
  }
  50% {
    text-shadow: 0px 0px 200px #0000ffff;
  }
}
@keyframes suno-visited {
  0%,100% {
    text-shadow: 0px 0px 20px #ff00ffcc;
  }
  50% {
    text-shadow: 0px 0px 200px #ff00ffff;
  }
}
@keyframes suno-b {
  0%,100% {
    text-shadow: 0px 0px 20px #ffff00cc;
  }
  50% {
    text-shadow: 0px 0px 200px #ffff00ff;
  }
}
sijelo {
  display: flex;
  align-items: flex-start;
}
h1 {
  font-size: 50;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  text-align: center;
}
h2 {
  font-size: 20;
  line-height: 0;
  text-align: center;
}
h3 {
  font-size: 30;
  margin-top: 0.8em;
  line-height: 0;
  text-decoration: underline dashed;
}
fl {
  font-size: 16;
}
b {
  color: yellow;
}
img {
  margin: 20px;
  animation: suno-b 10s infinite;
}
button {
  border-style: none;
  background-color: #ffffff00;
  color: #ff6aff;
  text-shadow: 0px 0px 50px #ffffffff;
  animation: suno-visited 10s infinite;
}
.button1 {
  box-shadow: 0px 0px 20px 0px lime;
  animation: suno-kule 10s infinite;
  animation-delay: calc(.1s * --text-position);
}
.button2 {
  box-shadow: 0px 0px 20px 0px cyan;
  animation: suno-kule 10s infinite;
  animation-delay: calc(.1s * --text-position);
}
.pfp {
  width: 90%;
  border-radius: 70px;
  border: 10px solid lime;
  box-shadow: 0px 0px 20px -5px lime;
  animation: suno-kule 10s infinite;
  animation-delay: calc(.1s * --text-position);
}
.sijelo2 {
  flex: 79%;
  margin-right: 1%;
}
.s1 {
  flex: 79%;
  margin-right: 1%;
  padding: 15px;
  border-style: dashed;
  border-radius: 10px;
}
.s2 {
  flex: 20%;
  padding: 0px;
}
a:link {
  color: #6a6aff;
  animation: suno-link 10s infinite;
  animation-delay: calc(.1s * --text-position);
}
a:visited {
  color: #ff6aff;
  animation: suno-visited 10s infinite;
  animation-delay: calc(.1s * --text-position);
}
a:active {
  color: #ff6a6a;
}
.noka {
  position: absolute;
  flex: 0%;
  margin-right: 0%;
  color: white;
  text-align: left;
}
