@font-face {
	font-family: "Volkhov";
	src: url("Volkhov-Regular.woff2");
}
body {
  background-image: url('http://lipu-pi-ijo-pi-toki.pona.la/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 22;
  font-family: Volkhov;
  line-height: 1.3;
  margin-right: 25;
  margin-left: 25;
}
sijelo {
  display: flex;
}
h1 {
  font-size: 50;
  text-align: center;
}
h2 {
  font-size: 20;
  text-align: center;
}
h3 {
  font-size: 30;
  line-height: 0;
}
fl {
  font-size: 16;
}
jasima1 {
  word-spacing: -300;
  opacity: 0.75;
}
jasima2 {
  word-spacing: -300;
  opacity: 0.50;
}
jasima3 {
  word-spacing: -300px;
  opacity: 0.25;
}
jasima4 {
  word-spacing: -300px;
  opacity: 0;
}
s1 {
  flex: 50%;
  padding: 0px;
}
a:link {
	color: #00006b
}
a:visited {
	color: #6b006b
}
a:active {
	color: #6b0000
}